.destination {
  width: 100%;
  margin-bottom: 120px;
  position: relative;
}

.destination__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
}

.destination iframe {
  height: 600px;
  width: 100%;
}

.destination h2 {
  @include desktop-header;
  margin-bottom: 40px;
}

.destination__adress {
  position: absolute;
  top: 50%;
  right: 17%;
  transform: translateY(-50%);
  width: 250px;
  box-sizing: border-box;
  background-color: white;
  border: 3px solid transparent;
  border-image: linear-gradient(90deg,#ba4548 ,#5776b8);
  border-image-slice: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
}

.destination__close {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url("../img/plus.svg");
  cursor: pointer;
  transform: rotate(45deg);
  transition-duration: 200ms;
  outline: none;
}

.destination__close--active {
  transform: rotate(0deg);
}

.destination__container--active {
  display: none;
}

.destination__adress--active {
  opacity: 0.3;

  &:hover {
    opacity: 0.9;
  }
}

.destination__adress h3 {
  font-family: "RobotoCondensedLight", "Arial", cursive;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.destination__adress p, .destination__adress a {
  color: black;
  text-decoration: none;
  font-family: "RobotoCondensedRegular", "Arial", cursive;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.destination__adress p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: $tablet-width) {
  .destination__wrapper {
    width: 768px;
  }

  // .destination iframe {
  //   width: auto;
  // }
}

@media (max-width: $mobile-width) {
  .destination__wrapper {
    width: 320px;
  }
}
