@keyframes no-transform {
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }

  50% {
    opacity: .8;
    transform: scale(.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  100% {
    transform: rotateZ(-1deg);
  }
}

@keyframes move-light {
  0% {
    transform: translateX(-4em) skew(-45deg);
  }
  100% {
    transform: translateX(27em) skew(-45deg);
  }
}
