.timetable {
  position: relative;
  width: 100%;
}

.timetable__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  max-width: 1366px;
  box-sizing: border-box;
  padding: 120px 100px 120px 100px;
  margin: 0 auto;
}

.timetable::before {
  content: "";
  position: absolute;
  width: 229px;
  height: 685px;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/girl-run.png");
  background-repeat: no-repeat;
  background-size: 229px 685px;
  z-index: 1;
}

.timetable::after {
  content: "";
  position: absolute;
  width: 289px;
  height: 677px;
  right: -36px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/man-run.png");
  background-repeat: no-repeat;
  background-size: 289px 677px;
  z-index: 1;
}

.timetable caption {
  @include desktop-header;
  text-align: center;
  margin-bottom: 40px;
}

.timetable table {
  border: none;
  border-spacing: 8px;
}

.timetable span {
  display: block;
}

.timetable td {
  width: 100px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px;
  background-color: #f8f9fc;
  color: #1c3374;
}

.timetable th, .timetable .timetable__time {
  width: 100px;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid #1c3374;
  background-color: white;
}

.timetable .timetable__empty {
  border: none;
}


