.trainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1366px;
  box-sizing: border-box;
  padding: 120px 100px;
  margin: 0 auto;
}

.trainers__list {
  display: flex;
  flex-wrap: wrap;
  @include list-reset;
}

.trainers__description {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 248px;
  height: 259px;
  background-color: rgba(16, 38, 84, 0.89);
  box-sizing: border-box;
  // padding: 20px;
  text-align: center;
}

.trainers__item {
  position: relative;
  width: 248px;
  height: 259px;
  margin-right: 43px;
  margin-bottom: 50px;
  cursor: pointer;
  &:hover,
  &:focus {
    .trainers__description {
      display: flex;
    }
  }
}

.trainers__item h3 {
  color: white;
}


.trainers__item:last-of-type {
  margin-right: 0;
}


.trainers h2 {
  @include desktop-header;
  margin-bottom: 40px;
}
