.types {
  width: 100%;
  background-color: $pink;
}

.types__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  max-width: 1366px;
  box-sizing: border-box;
  padding: 120px 100px 120px 100px;
  margin: 0 auto;
}

.types h2 {
  @include desktop-header;
  text-align: center;
  margin-bottom: 40px;
}

.types__list {
  width: 1170px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  @include list-reset;
}

.types__item {
  width: 240px;
  margin-right: 65px;
  margin-bottom: 20px;
}

.types__item:last-of-type {
  margin-right: 0;
}

.types__image {
  width: 238px;
  height: 238px;
  border-radius: 50%;
  overflow-y: hidden;
  margin-bottom: -30px;
}

.types__image img {
  width: 238px;
  height: 238px;
}

.types__item h3 {
  font-family: "BebasNeueRegular", "Arial", cursive;
  font-size: 43px;
  line-height: 48px;
  color: #410126;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
}

.types__item p {
  margin: 0;
  font-family: "RobotoCondensedRegular", "Arial", cursive;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
}

@media (max-width: $tablet-width) {
  .types__wrapper {
    width: 768px;
    padding: 75px 10px;
    align-items: center;
  }

  .types h2 {
    @include tablet-header;
    margin-bottom: 40px;
  }

  .types__item h3 {
    font-family: "BebasNeueRegular", "Arial", cursive;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
  }

  .types__list {
    width: 610px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    @include list-reset;
  }

  .types__item {
    margin-bottom: 30px;
  }

  .types__item:nth-of-type(even) {
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .types__wrapper {
    width: 100%;
    padding: 65px 20px;
  }

  .types h2 {
    @include tablet-header;
    margin-bottom: 40px;
  }

  .types__item h3 {
    font-family: "BebasNeueRegular", "Arial", cursive;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
  }

  .types__list {
    width: 280px;
  }

  .types__item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .types__item:last-of-type {
    margin-bottom: 0;
  }
}
