$white: #ffffff;
$black: #000000;
$dark-blue: #102654;
$light-grey: #f8f9fc;
$grey: #b6bdcc;
$crimson: #ed0233;
$pink: #fff2fe;
$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
